apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "kube-copilot.fullname" . }}
  labels:
    {{- include "kube-copilot.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "kube-copilot.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "kube-copilot.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "kube-copilot.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command:
          - streamlit
          - run
          - /app/Home.py
          env:
          - name: OPENAI_API_KEY
            valueFrom:
              secretKeyRef:
                name: {{ include "kube-copilot.fullname" . }}
                key: OPENAI_API_KEY
          - name: OPENAI_API_BASE
            valueFrom:
              secretKeyRef:
                name: {{ include "kube-copilot.fullname" . }}
                key: OPENAI_API_BASE
          - name: OPENAI_API_MODEL
            valueFrom:
              secretKeyRef:
                name: {{ include "kube-copilot.fullname" . }}
                key: OPENAI_API_MODEL
          - name: GOOGLE_CSE_ID
            valueFrom:
              secretKeyRef:
                name: {{ include "kube-copilot.fullname" . }}
                key: GOOGLE_CSE_ID
          - name: GOOGLE_API_KEY
            valueFrom:
              secretKeyRef:
                name: {{ include "kube-copilot.fullname" . }}
                key: GOOGLE_API_KEY
          ports:
            - name: http
              containerPort: 8501
              protocol: TCP
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
